#check ul{
    height:20vh;
    border:2px solid orange;
    list-style:none;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    background-color: black;
}

#image{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}